@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Concert+One&family=Cookie&family=Homemade+Apple&family=Leckerli+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&family=Press+Start+2P&family=VT323&display=swap');

body {
    background-color: rgba(19, 192, 155, 0.548);
    font-family: Open Sans, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;

}

header {
    text-align: center;
    color: rgb(7, 7, 7)
}

.title {
    font-family: Leckerli One, san-serif;
    font-size: 100px;
    margin: 8px auto
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    max-width: 1100px;
    margin: 100px auto;
}

.control-panel {
    background-color: rgb(124, 33, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 200px;
    height: 500px;
    border-radius: 10px;
}

.color-box input {
    border: none;
}

.color-pick {
    background-color: rgb(240, 240, 233);
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover {
    background-color: #467ab4;
    color: white;
    opacity: 1;
}

button.active {
    background-color: #0b407c;
    color: white;
    opacity: 1;
}

button {
    font-family: Open Sans, san-serif;
    font-weight: 500;
    background-color: rgb(240, 240, 233);
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 150px;
}

/* button:active {
    background-color: #3F86D8;
    color: white;
    border: 1px solid black;
}

.active {
    background-color: #3F86D8;
    transition: 0.3s;
    color: white;
    border: 1px solid black;
} */

.size {
    text-align: center;
    font-weight: 600;
    color: rgb(240, 240, 233);
}

.grid-wrapper {
    display: grid;
    height: 500px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    color: black;
    text-align: center;
}